*~
# History files
.Rhistory
.RData
# Example code in package build process
*-Ex.R
# Mac OS X annoyance.
.DS_Store
.projectile
.Rproj.user
*.Rproj
inst/doc
inst/sample_file/*.html
docs
vignettes/examples/*.html
.vscode/
